h2 {
    font-size: 20px;
}

body {
    font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.2em;
}

/*
.dimple-r {
    fill: red;
}

.dimple-b {
    fill: lightblue;
}

.dimple-l {
    fill: orange;
}
*/